<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hola Mundo!</title>
    <link rel="stylesheet" href="/css/phoenix.css">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://www.phoenixframework.org/docs">Get Started with Phoenix</a></li>
        </ul>
        <span class="logo"></span>
      </div>

      <%= @inner %>

      <div class="footer">
        <p>
          <a class="pull-left" href="http://phoenixframework.org">phoenixframework.org</a>

          <span class="pull-right"><%= time_now %></span>
        </p>

      </div>

    </div> <!-- /container -->

    <!-- React -->
    <script src="/js/react-0.12.2.min.js"></script>
    <script src="/js/hola-react.js"></script>

  </body>
</html>
